
.login {
    background-color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login__logo {
    margin-top: 20px;
    margin-bottom: 20px;
    object-fit: contain;
    width: 100px;
    margin-right: auto;
    margin-left: auto;
}

.login__container {
    width: 300px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    border: 1px solid lightgray;
    padding: 20px;
}

.login__container > h1 {
    font-weight: 400;
    margin-bottom: 20px;
}

.login__container > form > h5 {
    margin-bottom: 5px;
}

.login__container > form > input {
    height: 30px;
    margin-bottom: 10px;
    background-color: white;
    width: 98%;
    border-radius: 4px;
}

.login__container > form > p {
    margin-top: 30px;
    font-size: 12px;
}
.login__errorText {
    display: grid;
    place-items: center;
    font-size: small;
    color: red;
}

.login__createAccount {
    margin-top: 10px;
    font-size: 14px;
    color: #008ae6;
    display: grid;
    place-items: center;
}
.login__signInButton {
    background: #f8c14b;
    border-radius: 2px;
    width: 100%;
    border: 1px solid;
    height: 30px;
    border-color: #c29e42 #b8943a #a68532;
    margin-top: 10px;
    cursor: pointer;
}

.login__signInButton:hover {
    background: rgb(242, 205, 22);
}